<div class="education-page">
     <div class="college study card">
          <img class="img-fluid wrapper" src="\assets\college\2151066388.jpg" loading="lazy" alt="">
          <div class="card-body">
               <h5 class="text-decoration-underline">DEGREE</h5>
               <p>BE Computer Science Engineering </p>
               <p>70%</p>
               <p>Anna University Tamilnadu</p>
          </div>
     </div>
     <div class="hsc study card">
          <img class="img-fluid wrapper" src="\assets\college\2151007434.jpg" loading="lazy" alt="">

          <div class="card-body">
               <h5 class="text-decoration-underline">HSE</h5>
               <p>St.Peter's Higher Secondary School</p>
               <p>77%</p>
               <p>StateBoard Tamilnadu</p>
          </div>
     </div>
     <div class="sslc study card">
          <img class="img-fluid wrapper" src="/assets/college/2151040347.jpg" loading="lazy" alt="">
          <div class="card-body">
               <h5 class="text-decoration-underline">SSLC</h5>
               <p>St.Peter's Higher Secondary School</p>
               <p>90%</p>
               <p>StateBoard Tamilnadu</p>
          </div>
     </div>

     <div class="certification study card">
          <img class="img-fluid wrapper" src="\assets\certificates\Eduonix Certificate.jpg" loading="lazy" alt="">
          <div class="card-body">
               <h5 class="text-decoration-underline">Certification</h5>
               <p>Basic WebDevelopment Course</p>
               <p>Eduonix Learning Solutions-Chennai</p>

          </div>
     </div>

     <div class="certification study card">
          <img class="img-fluid wrapper" src="\assets\certificates\Credo Certificate.jpg" loading="lazy" alt="">
          <div class="card-body">
               <h5 class="text-decoration-underline">Certification</h5>
               <p>Django with ReactJs-FullStack Development</p>
               <p>CredoSystemZ-Chennai</p>
          </div>
     </div>
</div>

<div class="education">
     <div class="left-sidebar text-center">
       <div class="side-menu-item" id="item1" (mouseover)="onMouseOver('right-item1')" (mouseout)="onMouseOut('right-item1')">
         <h5 class="text-light">Degree</h5>
       </div>
       <div class="side-menu-item" id="item2" (mouseover)="onMouseOver('right-item2')" (mouseout)="onMouseOut('right-item2')">
         <h5 class="text-light">HSE</h5>
        
       </div>
       <div class="side-menu-item" id="item3" (mouseover)="onMouseOver('right-item3')" (mouseout)="onMouseOut('right-item3')">
         <h5 class="text-light">SSLC</h5>
         
       </div>
       <div class="side-menu-item" id="item4" (mouseover)="onMouseOver('right-item4')" (mouseout)="onMouseOut('right-item4')">
         <h5 class="text-light">Certification</h5>
       
       </div>
       <div class="side-menu-item" id="item5" (mouseover)="onMouseOver('right-item5')" (mouseout)="onMouseOut('right-item5')">
         <h5 class="text-light">Certification</h5>
         
       </div>
     </div>
   
     <div class="right-sidebar">
       <div class="right-side-item" id="right-item1">
         <img class="img-fluid degree-img" src="/assets/backgrounds/2151005751.jpg" loading="lazy" alt="">
         <div class="card-body text-light">
           <h5 class="text-decoration-underline">DEGREE</h5>
           <p>BE Computer Science Engineering</p>
           <p>70%</p>
           <p>Anna University</p>
           <p>Chennai-Tamilnadu</p>
         </div>
       </div>
       <div class="right-side-item" id="right-item2">
         <img class="img-fluid degree-img" src="/assets/college/2151007434.jpg" loading="lazy">
         <div class="card-body text-light">
           <h5 class="text-decoration-underline">HSE</h5>
           <p>Higher Secondary Education</p>
           <p>77%</p>
           <p>St.Peters Higher Secondary School/p>
           <p>StateBoard-Tamilnadu</p>
         </div>
       </div>
       <div class="right-side-item" id="right-item3">
         <img class="img-fluid degree-img" src="/assets/college/2151040347.jpg" loading="lazy" alt="">
         <div class="card-body text-light">
           <h5 class="text-decoration-underline">SSLC</h5>
           <p>Secondary School Education</p>
           <p>90%</p>
           <p>St.Peters Higher Secondary School</p>
           <p>StateBoard-Tamilnadu</p>
         </div>
       </div>
       <div class="right-side-item" id="right-item4">
         <img class="img-fluid degree-img" src="\assets\certificates\Eduonix Certificate.jpg" loading="lazy" alt="">
         <div class="card-body text-light">
           <h5 class="text-decoration-underline">Certification</h5>
           <p>Basic Web Development From Scratch Course</p>
           <p>Eduonix Learning Solutions</p>
           <p>Online Course</p>
           <p>2022</p>
         </div>
       </div>
       <div class="right-side-item" id="right-item5">
         <img class="img-fluid degree-img" src="
         \assets\certificates\Credo Certificate.jpg" loading="lazy" alt="">
         <div class="card-body text-light">
          <h5 class="text-decoration-underline">Certification</h5>
          <p>FullStack WebDevelopment Course</p>
          <p>Credo Systemz</p>
          <p>Chennai</p>
          <p>9Months-2024</p>
         </div>
       </div>
     </div>
   </div>
   