<nav class="navbar navbar-expand-lg fixed-top">

    <a href="#" class="logo navbar-brand">Joe</a>

    <!-- <img src="assets\Myimg\navigation.png" alt="navimg" class="navbar-toggler nav-img d-lg-none" type="button"
        data-bs-toggle="collapse" data-bs-target="#navid"> -->

    <!-- <div class="collapse justify-content-end navbar-collapse" id="navid"> -->

        <ul class="navbar-nav nav-links">
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="skills">Skills</a></li>
            <li><a routerLink="education">Education</a></li>
        </ul>
    <!-- </div> -->
</nav>

<div class="navigation fixed-top">
    <ul class="nav-items">
        <li class="list">
            <a routerLink="home">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="text">Home</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a routerLink="about">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="text">About</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a routerLink="contact">
                <span class="icon"><i class="fas fa-envelope "></i></span>
                <span class="text">Contact</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a routerLink="skills">
                <span class="icon"><i class="fas fa-code"></i></span>
                <span class="text">Skills</span>
                <span class="circle"></span>
            </a>
        </li>
        <li class="list">
            <a routerLink="education">
                <span class="icon"><i class="fas fa-graduation-cap"></i></span>
                <span class="text">Education</span>
                <span class="circle"></span>
            </a>
        </li>
    </ul>
</div>